{% extends 'base.html.twig' %}

{% block title %}Author{% endblock %}

{% block body %}
    <h1 class="title">Author</h1>

    <table class="table is-striped">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ author.name }}</td>
            </tr>
            <tr>
                <th>Livres</th>
                <td>
                  <ul>
                    {% for book in author.books %}
                      <li>{{book.title}}</li>
                    {% endfor %}
                  </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn button is-link"  href="{{ path('author.index') }}">back to list</a>

    <a class="btn button is-dark" href="{{ path('author.edit', {'id': author.id}) }}">edit</a>

    {{ include('author/_delete_form.html.twig') }}
{% endblock %}
