{% extends 'base.html.twig' %}

{% block title %}Book{% endblock %}

{% block body %}
    <h1 class="title">Book</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ book.title }}</td>
            </tr>
            <tr>
                <th>Auteur</th>
                <td>{{ book.author.name }}</td>
            </tr>
            <tr>
                <th>Lecteurs</th>
                <td>
                  <ul>
                    {% for reader in book.readers %}
                      <li>{{reader.name}}</li>
                    {% endfor %}
                  </ul>
                </td>
            </tr>
        </tbody>
    </table>

    <a class="btn button is-link" href="{{ path('book.index') }}">back to list</a>

    <a class="btn button is-dark" href="{{ path('book.edit', {'id': book.id}) }}">edit</a>

    {{ include('book/_delete_form.html.twig') }}
{% endblock %}
