{% extends 'base.html.twig' %}

{% block title %}Reader index{% endblock %}

{% block body %}
    <h1 class="title">Reader index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reader in readers %}
            <tr>
                <td>{{ reader.id }}</td>
                <td>{{ reader.name }}</td>
                <td>{{ reader.age }}</td>
                <td>
                    <a class="btn button is-info" href="{{ path('reader.show', {'id': reader.id}) }}">show</a>
                    <a class="btn button is-dark" href="{{ path('reader.edit', {'id': reader.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn button is-primary" href="{{ path('reader.new') }}">Create new</a>
{% endblock %}
