{% extends 'base.html.twig' %}

{% block title %}Reader{% endblock %}

{% block body %}
    <h1 class="title">Reader</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ reader.name }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ reader.age }}</td>
            </tr>
            <tr>
                <th>Thé préféré</th>
                <td>{{ reader.tea.name }}</td>
            </tr>
            <tr>
              <th>Livres lus:</th>
              <td><ul>
                {% for book in reader.books %}
                  <li>{{ book.title }}</li>
                {% endfor %}
            </ul></td>
            </tr>
        </tbody>
    </table>

    <a class="btn button is-link" href="{{ path('reader.index') }}">back to list</a>

    <a class="btn button is-dark" href="{{ path('reader.edit', {'id': reader.id}) }}">edit</a>

    {{ include('reader/_delete_form.html.twig') }}
{% endblock %}
